
*, *::before, * ::after {
  box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background: #f8d08f;
  width: 100vw;
  height: 100vh;
  font-size: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

blockquote {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
cite {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 2rem;
  font-size: 3rem;
}
